.profile-divv {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.profile-editt {
    display: flex;
}

.profile-editt img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
}
.posts-followw {
    display: flex;
}