@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.nav-div {
    border: 2px solid black;
    background-color: rgb(255,255,255);
    height: 53.9em;

}
.other-nav-div {
    border: 2px solid black;
    background-color: rgb(255,255,255);
    /* height: 53.9em; */

}
.nav-bar{
    position: sticky;
    top: 0;
}
.nav-title {
    font-family: 'Dancing Script', cursive;
}