.posts-container{
    /* width: 25%; */
    width: 60vw;
    max-width: 800px;
    margin-left: 7em;
}

.each-post {
    border: 1px solid rgb(207, 207, 207);
    width: 59%;
    margin-top: 1em;
    border-radius: 10px;
    background-color: rgb(255,255,255);
    height: auto;
    margin-left: 9em;
}
.image-description {
    width: 100%;
}
.post-user-info{
    display: flex;
    margin-bottom: 0;
    margin-top: 0.1em;
    align-items: center;
}

.post-user-info img{
    width: auto;
    max-width: 2em;

    height: auto;
    max-height: 2em;
    border-radius: 50%;
    margin-right: 1em;
    margin-left: 0.5em;
    padding: 0.18em;
}
.post-user-info p{
    font-weight: bold;
}
.post-description{
    left: 0;
    margin-left: 0.4em;
}
.post-description span{
    font-weight: bold;
}
.post-img img {
   max-width: 100%;
   max-height: 26em;
}
.post-img {
    background-color: rgb(226, 223, 223);
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-comments{
    cursor: pointer;
    margin-left: 0.5em;
}
.comments-ul {
    list-style: none;
    padding: 0;
    max-height: 13em;
    overflow-x: scroll;
    overflow-x: hidden;
}
.comments-li{
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
}

.comments-username {
    font-weight: bold;
    margin-right: 0.45em;
}

.comments-user-img{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-right: 0.45em;
    margin-left: 0.5em;
}

.view-comments {
    color: gray;
    font-weight: bold;
    font-size: 0.8em;
}

.add-comment{
    border: none;
    border-top: 1px solid rgb(211, 208, 208);
}

.input-comment{
    width: 98%;
    border: none;
}

.input-comment:focus{
    outline: none;
}.comment-form {
    display: flex;
    margin-top: 0.5em;
}

.comment-post-button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-right: 0.4em;
    font-weight: bold;
    color: blue;
}

.likes-amount {
    display: flex;
    align-items: center;
    margin-top: 0.2em;
}
.likes-amount img {
    margin-right: 0.3em;
    margin-left: 0.15em;
}
.likes-first-name {
    font-weight: bold;
}

.liked-profile-img {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}

.like-btn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: rgb(246, 96, 96);
    font-size: 1.1em;
    margin-left: 0.3em;
}

.like-btn:hover {
color: red;
}